/* General body styles with light mode default */
body {
    font-family: 'Crimson Pro', serif;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

/* Navbar styling with added padding, centering, and balanced spacing */
#navbar {
    width: 100%;
    padding: 10px 30px; /* Added padding for balanced look */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center-align elements vertically */
    font-size: 18px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
    box-sizing: border-box;
}

/* Styling for user name in navbar */
#user-name-display {
    font-size: 20px;
    font-weight: 600;
    padding-top: 2px; /* Adjusted to remove excess space below */
}

/* Theme toggle button styling */
#theme-toggle {
    font-family: inherit;
    padding: 0; /* Remove extra padding */
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center; /* Center icon within the button */
    margin: 0; /* Remove any default margin */
}

/* Theme icon within the theme toggle button */
#theme-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

/* Main header styling */
h1 {
    font-size: 24px;
    margin: 20px 0;
}

/* Style for control container */
#controls {
    margin-bottom: 20px;
}

/* Progress section styling */
#progress {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

/* Life grid styling */
#life-grid {
    display: grid;
    grid-template-columns: repeat(52, minmax(8px, 1fr));
    gap: 1px;
    max-width: 80%;
    padding: 10px;
}

/* Each week box styling */
.week-box {
    width: 100%;
    padding-top: 100%;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.past-week {
    background-color: #000;
}

/* Dark mode styles */
body.dark {
    background-color: #181818;
    color: #f5f5f5;
}

body.dark #navbar {
    background-color: #333;
}

body.dark .week-box {
    background-color: #333;
}

body.dark .past-week {
    background-color: #ccc;
}
